/* 
VMS Plus Design System - Foundation - Semantic and component colors (Light mode, Dark mode)
Version 1.0
Date 2024-11-11
*/

/* color */
$dark-color-background-default: $color-gray-dark-mode-950;
$dark-color-border-brand: $color-brand-900;
$dark-color-border-brand-secondary: $color-brand-800;
$dark-color-border-brand-subtle: $color-brand-200;
$dark-color-border-disabled: $color-gray-dark-mode-700;
$dark-color-border-disabled-subtle: $color-gray-dark-mode-800;
$dark-color-border-error: $color-error-200;
$dark-color-border-error-solid: $color-error-500;
$dark-color-border-info: $color-indigo-200;
$dark-color-border-primary: $color-gray-dark-mode-600;
$dark-color-border-secondary: $color-gray-dark-mode-800;
$dark-color-border-success: $color-success-200;
$dark-color-border-success-solid: $color-success-500;
$dark-color-border-tertiary: $color-gray-dark-mode-800;
$dark-color-border-warning: $color-warning-200;
$dark-color-component-button-primary-icon: $color-base-white;
$dark-color-component-button-primary-icon-hover: $color-base-white;
$dark-color-component-button-primary-surface: $color-brand-900;
$dark-color-component-button-primary-surface-hover: $color-brand-800;
$dark-color-component-button-primary-text: $color-base-white;
$dark-color-component-button-primary-text-hover: $color-base-white;
$dark-color-component-button-primary-danger-surface-hover: $color-error-500;
$dark-color-component-button-primary-danger-surface-normal: $color-error-600;
$dark-color-component-button-secondary-icon: $color-gray-dark-mode-300;
$dark-color-component-button-secondary-icon-hover: $color-gray-dark-mode-100;
$dark-color-component-button-secondary-surface: $color-gray-dark-mode-900;
$dark-color-component-button-secondary-surface-hover: $color-gray-dark-mode-800;
$dark-color-component-button-secondary-text: $color-gray-dark-mode-300;
$dark-color-component-button-secondary-text-hover: $color-gray-dark-mode-100;
$dark-color-component-button-tertiary-icon: $color-gray-dark-mode-400;
$dark-color-component-button-tertiary-icon-hover: $color-gray-dark-mode-200;
$dark-color-component-button-tertiary-surface-hover: $color-gray-dark-mode-800;
$dark-color-component-button-tertiary-text: $color-gray-dark-mode-400;
$dark-color-component-button-tertiary-text-hover: $color-gray-dark-mode-200;
$dark-color-component-button-tertiary-brand-icon: $color-gray-dark-mode-300;
$dark-color-component-button-tertiary-brand-icon-hover: $color-gray-dark-mode-100;
$dark-color-component-button-tertiary-brand-surface-hover: $color-gray-dark-mode-800;
$dark-color-component-button-tertiary-brand-text: $color-gray-dark-mode-300;
$dark-color-component-button-tertiary-brand-text-hover: $color-gray-dark-mode-100;
$dark-color-component-button-tertiary-danger-icon: $color-error-300;
$dark-color-component-button-tertiary-danger-icon-hover: $color-error-200;
$dark-color-component-button-tertiary-danger-surface-hover: $color-error-900;
$dark-color-component-button-tertiary-danger-text: $color-error-300;
$dark-color-component-button-tertiary-danger-text-hover: $color-error-200;
$dark-color-component-tab-border: $color-gray-dark-mode-950;
$dark-color-component-tab-border-active: $color-brand-800;
$dark-color-component-tab-border-hover: $color-gray-dark-mode-600;
$dark-color-component-tab-icon: $color-gray-dark-mode-50;
$dark-color-component-tab-icon-active: $color-brand-800;
$dark-color-component-tab-icon-hover: $color-gray-dark-mode-25;
$dark-color-component-tab-surface: $color-gray-dark-mode-950;
$dark-color-component-tab-surface-active: $color-gray-dark-mode-950;
$dark-color-component-tab-surface-hover: $color-gray-dark-mode-800;
$dark-color-component-tab-text: $color-gray-dark-mode-50;
$dark-color-component-tab-text-active: $color-gray-dark-mode-50;
$dark-color-component-tab-text-hover: $color-gray-dark-mode-25;
$dark-color-component-tooltip-supporing-text: $color-gray-dark-mode-300;
$dark-color-component-utility-brand-100: $color-brand-900;
$dark-color-component-utility-brand-200: $color-brand-800;
$dark-color-component-utility-brand-300: $color-brand-700;
$dark-color-component-utility-brand-400: $color-brand-600;
$dark-color-component-utility-brand-50: $color-brand-950;
$dark-color-component-utility-brand-500: $color-brand-500;
$dark-color-component-utility-brand-600: $color-brand-400;
$dark-color-component-utility-brand-700: $color-brand-300;
$dark-color-component-utility-brand-800: $color-brand-200;
$dark-color-component-utility-brand-900: $color-brand-100;
$dark-color-component-utility-error-200: $color-error-800;
$dark-color-component-utility-error-50: $color-error-950;
$dark-color-component-utility-error-500: $color-error-500;
$dark-color-component-utility-error-700: $color-error-300;
$dark-color-component-utility-gray-200: $color-gray-dark-mode-700;
$dark-color-component-utility-gray-50: $color-gray-dark-mode-900;
$dark-color-component-utility-gray-500: $color-gray-dark-mode-500;
$dark-color-component-utility-gray-700: $color-gray-dark-mode-300;
$dark-color-component-utility-info-200: $color-indigo-800;
$dark-color-component-utility-info-50: $color-indigo-950;
$dark-color-component-utility-info-500: $color-indigo-500;
$dark-color-component-utility-info-700: $color-indigo-300;
$dark-color-component-utility-success-200: $color-success-800;
$dark-color-component-utility-success-50: $color-success-950;
$dark-color-component-utility-success-500: $color-success-500;
$dark-color-component-utility-success-700: $color-success-300;
$dark-color-component-utility-warning-200: $color-warning-800;
$dark-color-component-utility-warning-50: $color-warning-950;
$dark-color-component-utility-warning-500: $color-warning-500;
$dark-color-component-utility-warning-700: $color-warning-300;
$dark-color-effect-focus-brand: #a806891f;
$dark-color-effect-focus-error: #d92d201f;
$dark-color-effect-focus-gray: #6670851f;
$dark-color-effect-shadow-3: #10182808;
$dark-color-effect-shadow-8: #10182814;
$dark-color-icon-brand: $color-gray-dark-mode-50;
$dark-color-icon-brand-disabled: $color-gray-dark-mode-500;
$dark-color-icon-brand-disabled-subtle: $color-gray-dark-mode-700;
$dark-color-icon-disabled: $color-gray-dark-mode-500;
$dark-color-icon-error: $color-error-500;
$dark-color-icon-info: $color-indigo-500;
$dark-color-icon-primary: $color-base-white;
$dark-color-icon-primary-on-brand: $color-base-white;
$dark-color-icon-primary-solid: $color-gray-dark-mode-800;
$dark-color-icon-secondary: $color-gray-dark-mode-300;
$dark-color-icon-success: $color-success-500;
$dark-color-icon-tertiary: $color-gray-dark-mode-400;
$dark-color-icon-tertiary-subtle: $color-gray-dark-mode-300;
$dark-color-icon-warning: $color-warning-500;
$dark-color-icon-warning-secondary: $color-warning-400;
$dark-color-surface-brand: $color-brand-900;
$dark-color-surface-brand-secondary: $color-brand-50;
$dark-color-surface-disabled: $color-gray-dark-mode-800;
$dark-color-surface-error: $color-error-500;
$dark-color-surface-error-secondary: $color-error-50;
$dark-color-surface-error-secondary-subtle: $color-error-100;
$dark-color-surface-info: $color-indigo-500;
$dark-color-surface-info-secondary: $color-indigo-50;
$dark-color-surface-info-secondary-subtle: $color-indigo-100;
$dark-color-surface-primary: $color-gray-dark-mode-950;
$dark-color-surface-primary-solid: $color-gray-dark-mode-800;
$dark-color-surface-secondary: $color-gray-dark-mode-900;
$dark-color-surface-secondary-subtle: $color-gray-dark-mode-900;
$dark-color-surface-success: $color-success-500;
$dark-color-surface-success-secondary: $color-success-50;
$dark-color-surface-success-secondary-subtle: $color-success-100;
$dark-color-surface-tertiary: $color-gray-dark-mode-700;
$dark-color-surface-warning: $color-warning-500;
$dark-color-surface-warning-secondary: $color-warning-50;
$dark-color-surface-warning-secondary-subtle: $color-warning-100;
$dark-color-text-brand: $color-gray-dark-mode-50;
$dark-color-text-disabled: $color-gray-dark-mode-500;
$dark-color-text-error: $color-error-400;
$dark-color-text-info: $color-indigo-400;
$dark-color-text-placeholder: $color-gray-dark-mode-500;
$dark-color-text-primary: $color-gray-dark-mode-50;
$dark-color-text-primary-on-brand: $color-base-white;
$dark-color-text-secondary: $color-gray-dark-mode-300;
$dark-color-text-success: $color-success-400;
$dark-color-text-warning: $color-warning-400;
$dark-color-text-white: $color-base-white;
$light-color-background-default: $color-base-white;
$light-color-border-brand: $color-brand-900;
$light-color-border-brand-secondary: $color-brand-800;
$light-color-border-brand-subtle: $color-brand-200;
$light-color-border-disabled: $color-gray-light-mode-300;
$light-color-border-disabled-subtle: $color-gray-light-mode-200;
$light-color-border-error: $color-error-200;
$light-color-border-error-solid: $color-error-500;
$light-color-border-info: $color-indigo-200;
$light-color-border-primary: $color-gray-light-mode-300;
$light-color-border-secondary: $color-gray-light-mode-200;
$light-color-border-success: $color-success-200;
$light-color-border-success-solid: $color-success-500;
$light-color-border-tertiary: $color-gray-light-mode-100;
$light-color-border-warning: $color-warning-200;
$light-color-component-button-primary-icon: $color-base-white;
$light-color-component-button-primary-icon-hover: $color-base-white;
$light-color-component-button-primary-surface: $color-brand-900;
$light-color-component-button-primary-surface-hover: $color-brand-800;
$light-color-component-button-primary-text: $color-base-white;
$light-color-component-button-primary-text-hover: $color-base-white;
$light-color-component-button-primary-danger-surface-hover: $color-error-500;
$light-color-component-button-primary-danger-surface-normal: $color-error-600;
$light-color-component-button-secondary-icon: $color-gray-light-mode-600;
$light-color-component-button-secondary-icon-hover: $color-gray-light-mode-600;
$light-color-component-button-secondary-surface: $color-base-white;
$light-color-component-button-secondary-surface-hover: $color-gray-light-mode-200;
$light-color-component-button-secondary-text: $color-gray-light-mode-600;
$light-color-component-button-secondary-text-hover: $color-gray-light-mode-600;
$light-color-component-button-tertiary-icon: $color-gray-light-mode-600;
$light-color-component-button-tertiary-icon-hover: $color-gray-light-mode-700;
$light-color-component-button-tertiary-surface-hover: $color-gray-light-mode-50;
$light-color-component-button-tertiary-text: $color-gray-light-mode-600;
$light-color-component-button-tertiary-text-hover: $color-gray-light-mode-700;
$light-color-component-button-tertiary-brand-icon: $color-brand-900;
$light-color-component-button-tertiary-brand-icon-hover: $color-brand-800;
$light-color-component-button-tertiary-brand-surface-hover: $color-brand-50;
$light-color-component-button-tertiary-brand-text: $color-brand-900;
$light-color-component-button-tertiary-brand-text-hover: $color-brand-800;
$light-color-component-button-tertiary-danger-icon: $color-error-600;
$light-color-component-button-tertiary-danger-icon-hover: $color-error-700;
$light-color-component-button-tertiary-danger-surface-hover: $color-error-50;
$light-color-component-button-tertiary-danger-text: $color-error-600;
$light-color-component-button-tertiary-danger-text-hover: $color-error-700;
$light-color-component-tab-border: $color-base-white;
$light-color-component-tab-border-active: $color-brand-900;
$light-color-component-tab-border-hover: $color-gray-light-mode-50;
$light-color-component-tab-icon: $color-gray-light-mode-500;
$light-color-component-tab-icon-active: $color-brand-900;
$light-color-component-tab-icon-hover: $color-gray-light-mode-500;
$light-color-component-tab-surface: $color-base-white;
$light-color-component-tab-surface-active: $color-base-white;
$light-color-component-tab-surface-hover: $color-gray-light-mode-50;
$light-color-component-tab-text: $color-gray-light-mode-500;
$light-color-component-tab-text-active: $color-base-black;
$light-color-component-tab-text-hover: $color-gray-light-mode-500;
$light-color-component-tooltip-supporting-text: $color-gray-light-mode-300;
$light-color-component-utility-brand-100: $color-brand-100;
$light-color-component-utility-brand-200: $color-brand-200;
$light-color-component-utility-brand-300: $color-brand-300;
$light-color-component-utility-brand-400: $color-brand-400;
$light-color-component-utility-brand-50: $color-brand-50;
$light-color-component-utility-brand-500: $color-brand-500;
$light-color-component-utility-brand-600: $color-brand-600;
$light-color-component-utility-brand-700: $color-brand-700;
$light-color-component-utility-brand-800: $color-brand-800;
$light-color-component-utility-brand-900: $color-brand-900;
$light-color-component-utility-error-200: $color-error-200;
$light-color-component-utility-error-50: $color-error-50;
$light-color-component-utility-error-500: $color-error-500;
$light-color-component-utility-error-700: $color-error-700;
$light-color-component-utility-gray-200: $color-gray-light-mode-200;
$light-color-component-utility-gray-50: $color-gray-light-mode-50;
$light-color-component-utility-gray-500: $color-gray-light-mode-500;
$light-color-component-utility-gray-700: $color-gray-light-mode-700;
$light-color-component-utility-info-200: $color-indigo-200;
$light-color-component-utility-info-50: $color-indigo-50;
$light-color-component-utility-info-500: $color-indigo-500;
$light-color-component-utility-info-700: $color-indigo-700;
$light-color-component-utility-success-200: $color-success-200;
$light-color-component-utility-success-50: $color-success-50;
$light-color-component-utility-success-500: $color-success-500;
$light-color-component-utility-success-700: $color-success-700;
$light-color-component-utility-warning-200: $color-warning-200;
$light-color-component-utility-warning-50: $color-warning-50;
$light-color-component-utility-warning-500: $color-warning-500;
$light-color-component-utility-warning-700: $color-warning-700;
$light-color-effect-focus-brand: #a806891f;
$light-color-effect-focus-error: #d92d201f;
$light-color-effect-focus-gray: #6670851f;
$light-color-effect-shadow-3: #10182808;
$light-color-effect-shadow-8: #10182814;
$light-color-icon-brand: $color-brand-900;
$light-color-icon-brand-disabled: $color-brand-200;
$light-color-icon-brand-disabled-subtle: $color-brand-100;
$light-color-icon-disabled: $color-gray-light-mode-400;
$light-color-icon-error: $color-error-600;
$light-color-icon-info: $color-indigo-600;
$light-color-icon-primary: $color-base-black;
$light-color-icon-primary-on-brand: $color-base-white;
$light-color-icon-primary-solid: $color-gray-light-mode-900;
$light-color-icon-secondary: $color-gray-light-mode-500;
$light-color-icon-success: $color-success-600;
$light-color-icon-tertiary: $color-gray-light-mode-300;
$light-color-icon-tertiary-subtle: $color-gray-light-mode-200;
$light-color-icon-warning: $color-warning-600;
$light-color-icon-warning-secondary: $color-warning-300;
$light-color-surface-brand: $color-brand-900;
$light-color-surface-brand-secondary: $color-brand-50;
$light-color-surface-disabled: $color-gray-light-mode-100;
$light-color-surface-error: $color-error-500;
$light-color-surface-error-secondary: $color-error-50;
$light-color-surface-error-secondary-subtle: $color-error-25;
$light-color-surface-info: $color-indigo-500;
$light-color-surface-info-secondary: $color-indigo-50;
$light-color-surface-info-secondary-subtle: $color-indigo-25;
$light-color-surface-primary: $color-base-white;
$light-color-surface-primary-solid: $color-gray-light-mode-900;
$light-color-surface-secondary: $color-gray-light-mode-100;
$light-color-surface-secondary-subtle: $color-gray-light-mode-50;
$light-color-surface-success: $color-success-500;
$light-color-surface-success-secondary: $color-success-50;
$light-color-surface-success-secondary-subtle: $color-success-25;
$light-color-surface-tertiary: $color-gray-light-mode-200;
$light-color-surface-warning: $color-warning-500;
$light-color-surface-warning-secondary: $color-warning-50;
$light-color-surface-warning-secondary-subtle: $color-warning-25;
$light-color-text-brand: $color-brand-900;
$light-color-text-disabled: $color-gray-light-mode-400;
$light-color-text-error: $color-error-600;
$light-color-text-info: $color-indigo-600;
$light-color-text-placeholder: $color-gray-light-mode-400;
$light-color-text-primary: $color-base-black;
$light-color-text-primary-on-brand: $color-base-white;
$light-color-text-secondary: $color-gray-light-mode-600;
$light-color-text-success: $color-success-600;
$light-color-text-warning: $color-warning-600;
$light-color-text-white: $color-base-white;