/* 
VMS Plus Design System - Foundation - Spacing & radius
Version 1.0
Date 2024-11-11
*/

/* Radius */
$radius-none: $spacing-0;
$radius-100: $spacing-100;
$radius-200: $spacing-200;
$radius-300: $spacing-300;
$radius-400: $spacing-400;
$radius-500: $spacing-500;
$radius-600: $spacing-600;
$radius-full: 9999px;

/* Spacing */
$spacing-none: $spacing-0;
$spacing-100: $spacing-100;
$spacing-200: $spacing-200;
$spacing-300: $spacing-300;
$spacing-400: $spacing-400;
$spacing-500: $spacing-500;
$spacing-600: $spacing-600;
$spacing-800: $spacing-800;
$spacing-1000: $spacing-1000;
$spacing-1200: $spacing-1200;
$spacing-1600: $spacing-1600;
$spacing-2000: $spacing-2000;
$spacing-2400: $spacing-2400;
$spacing-3200: $spacing-3200;